body { background: #232d0e; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 37px; display: flex; }
.block-cluster-0 { color: #b7d3f0; font-size: 13px; margin-bottom: 5px; }
.block-invoice-1 { color: #502449; font-size: 21px; margin-bottom: 5px; }
.block-user-2 { color: #2aed17; font-size: 13px; margin-bottom: 5px; }
.block-config-3 { color: #ca3ae3; font-size: 16px; margin-bottom: 5px; }
.block-cache-4 { color: #49a3c2; font-size: 18px; margin-bottom: 5px; }
.block-config-5 { color: #7f90dc; font-size: 18px; margin-bottom: 5px; }
.block-payment-6 { color: #1937bb; font-size: 14px; margin-bottom: 5px; }